# requirements for the standalone executable
pyinstaller==4.0; platform.machine == "x86_64"
# aarch64 requires a later version due to the use of a newer centos version.
# see https://github.com/pyinstaller/pyinstaller/issues/5540
pyinstaller==4.10; platform.machine == "aarch64"
staticx==0.13.6
