importlib-resources==5.1.0
psutil==5.8.0
requests==2.25.1
ConfigArgParse==1.3
distro==1.5.0
docker==5.0.0
six==1.16.0
dataclasses==0.8; python_version < '3.7'
packaging==21.2
granulate_utils@git+https://github.com/Granulate/granulate-utils.git@master#egg=granulate_utils
